body{background-image:url("Pictures/hard.jpg");
background-repeat:repeat xi;}
h2{color:Orange;
text-align:center;}
h1{color:yellow;
text-align:center;}
p{color:yellow;
text-align:center;}
h3{color:yellow;
text-align:center;}